.review {
    padding: 0 0 71px 0;
    &__header {
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
    }
    &__person {
        margin-top: 70px;
        display: flex;
        justify-content: flex-start;
    }
    &__text {
        max-width: 650px;
        margin-left: 62px;
    }
    &__name {
        font-size: 18px;
        line-height: 18px;
        font-weight: 700;
        text-align: left;
    }
    &__run {
        margin-top: 10px;
        color: #646464;
        font-size: 14px;
        line-height: 14px;
        font-weight: 300;
        text-align: left;
    }
    &__descr {
        margin-top: 23px;
        font-size: 16px;
        font-weight: 300;
        line-height: normal;
        &:nth-child(3) {
            margin-top: 19px;
        }
    }
    hr {
        border-bottom: none;
        background-color: #f6f6f6;
        margin: 50px 0 50px 0;
    }
}